# Novas perguntas do CEO

1. Qual a quantidade de imóveis por nível?
    - Nível 0: Preço entre 0 a 321.950
    - Nível 1: Preço entre 321.950 e 450.000
    - Nível 2: Preço entre 450.000 e 645.000
    - Nível 3: Preço acima de 645.000
    

2. Adicione as seguintes informações no imóvel:
    1. O nome da Rua
    2. O número do Imóvel
    3. O nome do Bairro
    4. O nome da Cidade
    5. O nome do Estado


3. Adicione o nível do imóvel no mapa como uma cor


4. Adicione o preço do imóvel como tamanho do ponto no mapa


5. Adicione opções de filtros para eu fazer minhas próprias análises:
    1. Eu quero escolher visualizar imóveis com vista para água ou não;
    2. Eu quero escolher filtrar os imóveis até um certo valor de preço


6. Adicionar opções de filtro no último dashboard enviado:
    1. Eu quero escolher visualizar valores a partir de uma data disponível para comprar

## 0. Loading Data

In [2]:
# Carregando das bibliotecas
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from matplotlib import gridspec
import plotly
import plotly.express as px
pd.set_option('display.float_format', lambda x: '%.2f ' % x)
%matplotlib inline

In [3]:
# Lendo o arquivo pelo read_csv
df = pd.read_csv('kc_house_data.csv', low_memory=False, delimiter=',', quotechar='"')
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503

## 1. Qual a quantidade de imóveis por nível?
    - Nível 0: Preço entre 0 a 321.950
    - Nível 1: Preço entre 321.950 e 450.000
    - Nível 2: Preço entre 450.000 e 645.000
    - Nível 3: Preço acima de 645.000

In [4]:
df['level'] = df['price'].apply(lambda x: 0 if x < 321950 else
                                            1 if (x >= 321950) & (x < 450000) else
                                               2 if (x >= 450000) and (x < 650000) else 3 )

## 2. Adicione as seguintes informações no imóvel:
    1. O nome da Rua
    2. O número do Imóvel
    3. O nome do Bairro
    4. O nome da Cidade
    5. O nome do Estado

In [5]:
from geopy.geocoders import Nominatim

In [6]:
# Create empty rows
df['road'] = ''
df['house_number'] = ''
df['city'] = ''
df['country'] = ''
df['state'] = ''

# Initialize Nominatim API
geolocator = Nominatim(user_agent='geoapiExercices')

for i in range(len(df)):
    print('Loop: {}/{}'.format(i, len(df)))
    query = str(df.loc[i, 'lat']) + ',' + str(df.loc[i, 'long'])
    
    # API Request
    response = geolocator.reverse(query)
    
    # Populate Data
    if 'house_number' in response.raw['address']:
        df.loc[i, 'house_number'] = response.raw['address']['house_number']
        
    if 'road' in response.raw['address']:
        df.loc[i, 'road'] = response.raw['address']['road']
        
    if 'neighbourhood' in response.raw['address']:
        df.loc[i, 'neighbourhood'] = response.raw['address']['neighbourhood']
        
    if 'city' in response.raw['address']:
        df.loc[i, 'city'] = response.raw['address']['city']
    
    if 'country' in response.raw['address']:
        df.loc[i, 'country'] = response.raw['address']['country']
        
    if 'state' in response.raw['address']:
        df.loc[i, 'state'] = response.raw['address']['state']

Loop: 0/21613
Loop: 1/21613
Loop: 2/21613
Loop: 3/21613
Loop: 4/21613
Loop: 5/21613
Loop: 6/21613
Loop: 7/21613
Loop: 8/21613
Loop: 9/21613
Loop: 10/21613
Loop: 11/21613
Loop: 12/21613
Loop: 13/21613
Loop: 14/21613
Loop: 15/21613
Loop: 16/21613
Loop: 17/21613
Loop: 18/21613
Loop: 19/21613
Loop: 20/21613
Loop: 21/21613
Loop: 22/21613
Loop: 23/21613
Loop: 24/21613
Loop: 25/21613
Loop: 26/21613
Loop: 27/21613
Loop: 28/21613
Loop: 29/21613
Loop: 30/21613
Loop: 31/21613
Loop: 32/21613
Loop: 33/21613
Loop: 34/21613
Loop: 35/21613
Loop: 36/21613
Loop: 37/21613
Loop: 38/21613
Loop: 39/21613
Loop: 40/21613
Loop: 41/21613
Loop: 42/21613
Loop: 43/21613
Loop: 44/21613
Loop: 45/21613
Loop: 46/21613
Loop: 47/21613
Loop: 48/21613
Loop: 49/21613
Loop: 50/21613
Loop: 51/21613
Loop: 52/21613
Loop: 53/21613
Loop: 54/21613
Loop: 55/21613
Loop: 56/21613
Loop: 57/21613
Loop: 58/21613
Loop: 59/21613
Loop: 60/21613
Loop: 61/21613
Loop: 62/21613
Loop: 63/21613
Loop: 64/21613
Loop: 65/21613
Loop: 66/21613
Loop: 67/21613
Loop: 68/21613
Loop: 69/21613
Loop: 70/21613
Loop: 71/21613
Loop: 72/21613
Loop: 73/21613
Loop: 74/21613
Loop: 75/21613
Loop: 76/21613
Loop: 77/21613
Loop: 78/21613
Loop: 79/21613
Loop: 80/21613
Loop: 81/21613
Loop: 82/21613
Loop: 83/21613
Loop: 84/21613
Loop: 85/21613
Loop: 86/21613
Loop: 87/21613
Loop: 88/21613
Loop: 89/21613
Loop: 90/21613
Loop: 91/21613
Loop: 92/21613
Loop: 93/21613
Loop: 94/21613
Loop: 95/21613
Loop: 96/21613
Loop: 97/21613
Loop: 98/21613
Loop: 99/21613
Loop: 100/21613
Loop: 101/21613
Loop: 102/21613
Loop: 103/21613
Loop: 104/21613
Loop: 105/21613
Loop: 106/21613
Loop: 107/21613
Loop: 108/21613
Loop: 109/21613
Loop: 110/21613
Loop: 111/21613
Loop: 112/21613
Loop: 113/21613
Loop: 114/21613
Loop: 115/21613
Loop: 116/21613
Loop: 117/21613
Loop: 118/21613
Loop: 119/21613
Loop: 120/21613
Loop: 121/21613
Loop: 122/21613
Loop: 123/21613
Loop: 124/21613
Loop: 125/21613
Loop: 126/21613
Loop: 127/21613
Loop: 128/21613
Loop: 129/21613
Loop: 130/21613
Loop: 131/21613
Loop: 132/21613
Loop: 133/21613
Loop: 134/21613
Loop: 135/21613
Loop: 136/21613
Loop: 137/21613
Loop: 138/21613
Loop: 139/21613
Loop: 140/21613
Loop: 141/21613
Loop: 142/21613
Loop: 143/21613
Loop: 144/21613
Loop: 145/21613
Loop: 146/21613
Loop: 147/21613
Loop: 148/21613
Loop: 149/21613
Loop: 150/21613
Loop: 151/21613
Loop: 152/21613
Loop: 153/21613
Loop: 154/21613
Loop: 155/21613
Loop: 156/21613
Loop: 157/21613
Loop: 158/21613
Loop: 159/21613
Loop: 160/21613
Loop: 161/21613
Loop: 162/21613
Loop: 163/21613
Loop: 164/21613
Loop: 165/21613
Loop: 166/21613
Loop: 167/21613
Loop: 168/21613
Loop: 169/21613
Loop: 170/21613
Loop: 171/21613
Loop: 172/21613
Loop: 173/21613
Loop: 174/21613
Loop: 175/21613
Loop: 176/21613
Loop: 177/21613
Loop: 178/21613
Loop: 179/21613
Loop: 180/21613
Loop: 181/21613
Loop: 182/21613
Loop: 183/21613
Loop: 184/21613
Loop: 185/21613
Loop: 186/21613
Loop: 187/21613
Loop: 188/21613
Loop: 189/21613
Loop: 190/21613
Loop: 191/21613
Loop: 192/21613
Loop: 193/21613
Loop: 194/21613
Loop: 195/21613
Loop: 196/21613
Loop: 197/21613
Loop: 198/21613
Loop: 199/21613
Loop: 200/21613
Loop: 201/21613
Loop: 202/21613
Loop: 203/21613
Loop: 204/21613
Loop: 205/21613
Loop: 206/21613
Loop: 207/21613
Loop: 208/21613
Loop: 209/21613
Loop: 210/21613
Loop: 211/21613
Loop: 212/21613
Loop: 213/21613

GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=47.3185&lon=-122.275&format=json&addressdetails=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

## 3. Adicione o nível do imóvel no mapa como uma cor

In [ ]:
df['level'] = df['level'].astype(str)
houses = df[['id', 'lat', 'long', 'price', 'level']].copy()

fig = px.scatter_mapbox(houses,
                       lat = 'lat',
                       lon = 'long',
                       color = 'level',
                       size = 'price',
                       color_continuous_scale = px.colors.cyclical.IceFire,
                       size_max=15,
                       zoom = 10)

fig.update_layout(mapbox_style='open-street-map')
fig.update_layout(height=600, margin={'r':0, 't':0, 'l':0, 'b':0})
fig.show()

## 4. Adicione o preço do imóvel como tamanho do ponto no mapa

## 5. Adicione opções de filtros para eu fazer minhas próprias análises:
    1. Eu quero escolher visualizar imóveis com vista para água ou não;
    2. Eu quero escolher filtrar os imóveis até um certo valor de preço

In [ ]:
import ipywidgets as widgets
from ipywidgets import fixed

In [ ]:
df['iswaterfront'] = df['waterfront'].apply(lambda x: 'yes' if x == 1 else 'no')
df['level'] = df['price'].apply(lambda x: 0 if x < 321950 else
                                            1 if (x >= 321950) & (x < 450000) else
                                               2 if (x >= 450000) and (x < 650000) else 3 )
df['level'] = df['level'].astype(int)
style = {'description':'initial'}

# Interative buttons
price_limit = widgets.IntSlider(
    value = 540000,
    min = 75000,
    max = 7700000,
    step = 1,
    description = 'Maximum Price',
    disable = False,
    style = style)

In [ ]:
waterfront_bar = widgets.Dropdown(
    options=['yes', 'no'],
    values='yes',
    description='Water View',
    disable=False)


def update_map(df, waterfront, limit):
    houses = df[(df['price'] <= limit) & 
                            (df['iswaterfront'] == waterfront)][['id', 'lat', 'long', 'price', 'level']]
    fig = px.scatter_mapbox(houses,
                           lat = 'lat',
                           lon = 'long',
                           color = 'level',
                           size = 'price',
                           color_continuous_scale = px.colors.cyclical.IceFire,
                           size_max=15,
                           zoom = 10)

    fig.update_layout(mapbox_style='open-street-map')
    fig.update_layout(height=600, margin={'r':0, 't':0, 'l':0, 'b':0})
    fig.show()

In [ ]:
widgets.interactive(update_map, df=fixed(df), waterfront=waterfront_bar, limit=price_limit)

## 6. Adicionar opções de filtro no último dashboard enviado:
    1. Eu quero escolher visualizar valores a partir de uma data disponível para comprar

In [ ]:
# Change date format
df = pd.read_csv('kc_house_data.csv', low_memory=False, delimiter=',', quotechar='"')
df['year'] = pd.to_datetime(df['date']).dt.strftime('%Y')
df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')
df['year_week'] = pd.to_datetime(df['date']).dt.strftime('%Y-%U')

# Widgets control date
date_limit = widgets.SelectionSlider(
    options=df['date'].sort_values().unique().tolist(),
    value = '2014-12-01',
    description = 'Disponível',
    continuous_update = False,
    orientation='horizontal',
    readout=True)

In [ ]:
def update_map(df, limit):
#     Filter Data
    df = df[df['date'] >= limit].copy()
    
    fig = plt.figure(figsize=(21,12))
    specs = gridspec.GridSpec(ncols=2, nrows=2, figure=fig)
    
    ax1 = fig.add_subplot(specs[0, :])
    ax2 = fig.add_subplot(specs[1, 0])
    ax3 = fig.add_subplot(specs[1, 1])
    
    by_year = df[['id', 'year']].groupby('year').sum().reset_index()
    ax1.bar(by_year['year'], by_year['id'])
    
    by_day = df[['id', 'date']].groupby('date').mean().reset_index()
    ax2.plot(by_day['date'], by_day['id'])
    ax2.set_title('Title: Avg Price by Day')
    
    by_week = df[['id', 'year_week']].groupby('year_week').mean().reset_index()
    ax3.bar(by_week['year_week'], by_week['id'])
    ax3.set_title('Title: Avg Price by Week of the Year')
    
    plt.xticks(rotation=60);

In [ ]:
widgets.interactive(update_map, df=fixed(df), limit=date_limit)