# Aula 03 - Resolução dos Exercícios

## Novas perguntas do CEO

1. Crie uma nova coluna chamada "house_age".
    - Se o valor da coluna "date" for maior que "2014-01-01" ==> "new_house"
    - Se o valor da coluna "date" for menor que "2014-01-01" ==> "old_house"

2. Crie uma nova coluna chamada "dormitory_type".
    - Se o valor da coluna "bedrooms" for igual a 1 ==> "studio"
    - Se o valor da coluna "bedrooms" for igual a 2 ==> "apartment"
    - Se o valor da coluna "bedrooms" for maior que 2 ==> "house"
    
3. Crie uma nova coluna chamada "condition_type".
    - Se o valor da coluna "condition" for menor igual 2 ==> "bad"
    - Se o valor da coluna "condition" for igual a 3 ou 4 ==> "regular"
    - Se o valor da coluna "condition" for maior que 5 ==> "good"
    
4. Modifique o TIPO da coluna "condition" para "STRING".

5. Delete as colunas: "sqft_living" e "sqft_lot15".

6. Modifique o TIPO da coluna "yr_build" para DATE.

7. Modifique o TIPO da coluna "yr_renovate" para DATE.

8. Qual a data mais antiga de construção de um imóvel?

9. Qual a data mais antiga de renovação de um imóvel?

10. Quantos imóveis tem 2 andares?

11. Quantos imóveis estão com a condição igual a "regular"?

12. Quantos imóveis estão com a condição igual a "bad" e são "new_house"?

13. Quantos imóveis estão com a condição igual a "good" e são "new_house"?

14. Qual o valor do imóvel mais caro do tipo "Studio"?

15. Quantos imóveis do tipo "apartment" foram reformados em 2015?

16. Qual o maior número de quartos que um imóvel do tipo "house" possui?

17. Quantos imóveis "new house" foram reformados no ano de 2014?

18. Selecione as colunas: "id", "date", "price", "floors", "zipcode" pelo método:
    - Direto pelo nome das colunas
    - Pelos índices
    - Pelos índices das linhas e nome das colunas
    - Pelos índices booleanos
19. Salve um arquivo .csv com somente as colunas do item 18
20. Modifique a cor dos pontos no mapa de "pink" para "black green"

### 0. Loading Data

In [1]:
import pandas as pd
import numpy as np
import plotly
import plotly.express as px

In [2]:
df = pd.read_csv('kc_house_data.csv', low_memory=False, delimiter=',', quotechar='"')
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 1. Crie uma nova coluna chamada "house_age".
    - Se o valor da coluna "date" for maior que "2014-01-01" ==> "new_house"
    - Se o valor da coluna "date" for menor que "2014-01-01" ==> "old_house"

In [4]:
df['house_age'] = df['date'].apply(lambda x: "new_house" if x >= pd.to_datetime("2014-01-01", format='%Y-%m-%d') else "old_house")

### 2. Crie uma nova coluna chamada "dormitory_type".
    - Se o valor da coluna "bedrooms" for igual a 1 ==> "studio"
    - Se o valor da coluna "bedrooms" for igual a 2 ==> "apartment"
    - Se o valor da coluna "bedrooms" for maior que 2 ==> "house"

In [5]:
def dormitory_type(x):
    if x == 1:
        return "studio"
    elif x == 2:
        return "apartment"
    elif x > 2:
        return "house"
    else:
        return "NA"

In [6]:
df['dormitory_type'] = df['bedrooms'].apply(dormitory_type)

### 3. Crie uma nova coluna chamada "condition_type".
    - Se o valor da coluna "condition" for menor igual 2 ==> "bad"
    - Se o valor da coluna "condition" for igual a 3 ou 4 ==> "regular"
    - Se o valor da coluna "condition" for maior que 5 ==> "good"

In [7]:
df['condition'] = df['condition'].astype( int )
df['conditional_type'] = df['condition'].apply(lambda x: 'bad' if x <= 2 else 'regular' if (x == 3) | (x == 4) else 'good')

In [8]:
df['conditional_type'].value_counts()

regular    19710
good        1701
bad          202
Name: conditional_type, dtype: int64

### 4. Modifique o TIPO da coluna "condition" para "STRING".

In [9]:
df[['id', 'condition']].dtypes
df['condition'] = df['condition'].astype(str)

### 5. Delete as colunas: "sqft_living" e "sqft_lot15".

In [10]:
df.drop(columns=['sqft_living', 'sqft_lot15'], axis=1, inplace=True)

### 6. Modifique o TIPO da coluna "yr_built" para DATE.

In [11]:
df['yr_built'] = pd.to_datetime(df['yr_built'], format='%Y')

### 7. Modifique o TIPO da coluna "yr_renovate" para DATE.

In [12]:
# df["yr_renovated"] = df["yr_renovated"].apply(lambda x: pd.DatetimeIndex(x).year if x > 0 else x)
df["yr_renovated"] = df["yr_renovated"].apply(lambda x: pd.to_datetime(x, format='%Y') if x > 0 else x)
df["yr_renovated"].value_counts()

0                      20699
2014-01-01 00:00:00       91
2013-01-01 00:00:00       37
2003-01-01 00:00:00       36
2005-01-01 00:00:00       35
                       ...
1951-01-01 00:00:00        1
1948-01-01 00:00:00        1
1944-01-01 00:00:00        1
1954-01-01 00:00:00        1
1934-01-01 00:00:00        1
Name: yr_renovated, Length: 70, dtype: int64

### 8. Qual a data mais antiga de construção de um imóvel?

In [13]:
min_date = df['yr_built'].min().year
print('The oldest house is {} years old'.format(min_date))
# df.sort_values('yr_built', ascending=True).head(3)

The oldest house is 1900 years old

### 9. Qual a data mais antiga de renovação de um imóvel?

In [14]:
min_renovated = df[df['yr_renovated'] != 0]['yr_renovated']
min_renovated = min_renovated.min().year
min_renovated
# print('The oldest renovated is {} years old'.format(str(min(min_renovated))))
# df.sort_values('yr_renovated', ascending=True).head(3)

1934

### 10. Quantos imóveis tem 2 andares?

In [15]:
print(len(df[df['floors'] == 2]))

8241

### 11. Quantos imóveis estão com a condição igual a "regular"?

In [16]:
print(len(df[df['conditional_type'] == 'regular']))

19710

### 12. Quantos imóveis estão com a condição igual a "bad" e possuem "vista para água"?

In [17]:
print(len(df.loc[(df['conditional_type'] == "bad") & (df['waterfront'] == 1), 'id']))

2

### 13. Quantos imóveis estão com a condição igual a "good" e são "new_house"?

In [18]:
print(len(df.loc[(df['conditional_type'] == "good") & (df['house_age'] == 'new_house')]))

1701

### 14. Qual o valor do imóvel mais caro do tipo "Studio"?

In [19]:
print(df.loc[df['dormitory_type'] == 'studio', 'price'].max())

1247000.0

### 15. Quantos imóveis do tipo "apartment" foram reformados em 2015?

In [20]:
houses = df[(df['dormitory_type'] == "apartment") & (df['yr_renovated'] == 2015)].shape[0]
print( "Number of reformed house in 2015: {}".format( houses ) )

Number of reformed house in 2015: 0

### 16. Qual o maior número de quartos que um imóvel do tipo "house" possui?

In [21]:
print(df.loc[df['dormitory_type'] == 'house', 'bedrooms'].max())

33

### 17. Quantos imóveis "new house" foram reformados no ano de 2014?

In [22]:
df.loc[(df['house_age'] == 'new_house') & 
       (df['yr_renovated'] == pd.to_datetime('2014-01-01', format='%Y-%m-%d')), 'id'].size

91

### 18. Selecione as colunas: "id", "date", "price", "floors", "zipcode" pelo método:
    - Direto pelo nome das colunas
    - Pelos índices
    - Pelos índices das linhas e nome das colunas
    - Pelos índices booleanos

In [23]:
df1 = df[["id", "date", "price", "floors", "zipcode"]]

In [24]:
df2 = df.iloc[:, [0, 1, 2, 7, 16]]

In [25]:
df3 = df.loc[:, ["id", "date", "price", "floors", "zipcode"]]

### 19. Salve um arquivo .csv com somente as colunas do item 18

In [26]:
df.to_csv('REPORT TESTE.csv', index=False, sep=';')

### 20. Modifique a cor dos pontos no mapa de "pink" para "black green"